# Resource suffix is optional, specify this if you need to keep role definitions unique amongst
# multiple workspaces using the same GCP Project.
resource_suffix                                = ""
enable_cluster_manager_permissions             = true
enable_dns_zone_manager_permissions            = true
enable_network_manager_permissions             = true
enable_cloud_info_permissions                  = false
from_aws                                       = true
from_gcp                                       = false
wayfinder_identity_aws_role_arn                = "arn:aws:iam::123456789012:role/wf-cloudidentity-aws"

# Optional: Add custom roles and permissions
custom_role_ids    = ["projects/your-project/roles/customRole1", "projects/your-project/roles/customRole2"]
custom_permissions = ["compute.instances.list", "storage.buckets.get"]