clusterissuer_email       = "foobar@example.com"
wayfinder_instance_id     = "OzXcTcq23U1eH1FFTAB2VTMc"
wayfinder_licence_key     = "key/bEm9bnbGD6GI+WYXmtqF9sVxbEm9bnbGD6GI+WYXmtqF9sVxbEm9bnbGD6GI+WYXmtqF9sVx"
wayfinder_domain_name_ui  = "portal.example.com"
wayfinder_domain_name_api = "api.example.com"
